config.*
configure
Makefile
Makefile.in
aclocal.m4
Doxyfile
*.stamp
api/html
autom4te.cache
compile
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.la
*.lo
*.o
a.out
stamp-h1
test/*Test
m4
